body {
  /*background-color: #313338;*/
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.top-text {
    color: #99aab5;
  }
/*ヘッダー*/
.header01 {
  padding: 16px 24px;
  background-color: #bfffe8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header01-logo {
  font-weight: bold;
  font-size: 20px;
}

.header01-list {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  font-weight: bold;
}

.header01-item--contact {
  background-color: #53d457;
  color: #fff;
  padding: 6px 16px;
  border-radius: 6px;
}
/*タイピング風用*/
.wrap {
  margin: 0 auto;
  max-width: 800px;
}
.wrap p {
 text-align: center;
 padding: 15px;
    color: #CCC;
    font-weight: bold;
    font-size: 15px;
    text-shadow:
            3px 3px 3px #000, -3px -3px 3px #000,
           -3px 3px 3px #000,  3px -3px 3px #000,
            3px 0px 3px #000, -3px -0px 3px #000,
            0px 3px 3px #000,  0px -3px 3px #000;
    margin: 0;
}
.typing {
  font-size: 16px;
  letter-spacing: 0.2em;
  word-break : break-all;
}
.typing span{
    display: none;
}
.typing:after {
  content: "|";
  animation: typingCursor .8s ease infinite;
}
@keyframes typingCursor {
  from　{
    opacity:0;
  }
  to{
    opacity:1
  }
}
