body {
  /*background-color: #313338;*/
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
fieldset,
img {
  border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
  font-weight: normal;
}
ol,ul {
  list-style: none;
}
caption,th {
  text-align: left;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,q:after {
  content: "";
}
abbr,acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,textarea,select,button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  *font-size: 100%;
  border-radius: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}
input,textarea,select {
  font-size: 16px;
}
textarea {
  resize: vertical;
  display: block;
}
button {
  padding: 0;
  cursor: pointer;
}
legend {
  color: #000;
}
main {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
  vertical-align: bottom;
}
svg {
  display: block;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
/* ------------------------------ */
body {
  line-height: 1.75;
  font-size: 16px;
  color: #333;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
/* ------------------------------ */
/* モバイル版 */
@media (max-width: 600px){

}
/* ------------------------------ */
.main {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.top-text {
    color: #99aab5;
  }
/*ヘッダー*/
.header01 {
  padding: 10px 20px;
  background-color: #313338;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header01-logo {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

.header01-list {
  display: flex;
  align-items: center;
  gap: 32px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

.header01-item--contact {
  background-color: #388146;
  color: #fff;
  padding: 6px 16px;
  border-radius: 6px;
}
/*タイピング風用*/
.wrap {
  margin: 0 auto;
  max-width: 800px;
}
.wrap p {
 text-align: center;
 padding: 15px;
    color: #CCC;
    font-weight: bold;
    font-size: 15px;
    text-shadow:
            3px 3px 3px #000, -3px -3px 3px #000,
           -3px 3px 3px #000,  3px -3px 3px #000,
            3px 0px 3px #000, -3px -0px 3px #000,
            0px 3px 3px #000,  0px -3px 3px #000;
    margin: 0;
}
.typing {
  font-size: 16px;
  letter-spacing: 0.2em;
  word-break : break-all;
}
.typing span{
    display: none;
}
.typing:after {
  content: "|";
  animation: typingCursor .8s ease infinite;
}
@keyframes typingCursor {
  from　{
    opacity:0;
  }
  to{
    opacity:1
  }
}
/*news*/
.page-header {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 210px;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}
/*-------------------------*/
#news {
    background-image: url(background.png);
    height: 270px;
    margin-bottom: 40px;
}
#news .page-title {
    text-align: center;
}
.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
