<div class="card nitro-card"
	style="background-image: linear-gradient(to bottom, {{ include.user.color.primary }}, {{ include.user.color.primary }} 90px, {{ include.user.color.accent }});">
	<div class="card-header">
		<div class="banner" style="background-color: {{ include.user.banner.color | default: '#FFF' }};">
			{% if include.user.banner.url %}<img class="banner-img" src="{{ include.user.banner.url }}"></img>{% endif %}
		</div>
	</div>
	<div class="card-body">
		<div class="profile-header">
			<div class="profile-logo" style="background-color: {{ include.user.color.primary }};">
				<img src="{{ include.user.icon }}" />
			</div>
		</div>
		<div class="profile-body">
			<div class="username">{{ include.user.id }}<span>{{ include.user.tag }}</span></div>
			<hr />
			<div class="basic-infos">
				<div class="category-title">About Me</div>
				<p>{{ include.user.comment }}</p>
			</div>
			<div class="basic-infos">
				<div class="category-title">Member Since</div>
				<p>{{ include.user.since }}</p>
			</div>
			<div class="note" style="display: none;">
				<div class="category-title">Note</div>
				<textarea readonly></textarea>
			</div>
		</div>
	</div>
</div>
