html , body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: map-get($map: $colors, $key: "bg-base");
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

main {
	padding-right: calc(1.5rem * 0.5);
	padding-left: calc(1.5rem * 0.5);
	margin-right: auto;
	margin-left: auto;
	margin: 0;
	padding-top: 60px;
}

::-webkit-scrollbar-track {
	box-shadow:0 0 5px #313338 inset ;
	border-radius: 5px;
	background: rgba(0,0,0,0.0);
  }


