
$max-widths: (
	sm: 420px,
	md: 720px,
	lg: 960px
);

html , body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: map-get($map: "bg-base", $key: $colors);
}

main {
	padding-right: calc(1.5rem * 0.5);
	padding-left: calc(1.5rem * 0.5);
	margin-right: auto;
	margin-left: auto;
	margin: 0;
}



