/*ヘッダー*/
.header {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: map-get($map: $colors, $key: "bg-accent");
	position: fixed;
	width: 100%;
	z-index: 999;

	.header-logo {
		font-weight: bold;
		font-size: 20px;
		color: #fff;
	}

	.header-list {
		display: flex;
		align-items: center;
		gap: 32px;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		list-style-position: initial;
		list-style-image: initial;
		list-style-type: none;
	}

	.header-item-contact {
		background-color: #388146;
		color: #fff;
		padding: 6px 16px;
		border-radius: 6px;
	}

	@include media-breakpoint-down(sm) {
		.menu-icon {
			display: block;
			position: absolute;
			right: 0%;
			width: 50px;
			height: 50px;
			z-index: 999;
			cursor: pointer;

			span {
				position: absolute;
				width: 40%;
				height: 2px;
				left: calc(50% - 40% / 2);
				background: #fff;
				transition: .4s;

				&:nth-of-type(1) {
					top: calc(35% - 2px / 2);
				}
				&:nth-of-type(2) {
					top: calc(50% - 2px / 2);
				}
				&:nth-of-type(3) {
					top: calc(65% - 2px / 2);
				}
			}
			&[data-display="1"]{
				>span {
					&:nth-of-type(1) {
						top: calc(50% - 2px / 2);
						transform: rotate(45deg);
					}

					&:nth-of-type(2) {
						opacity: 0;
					}

					&:nth-of-type(3) {
						top: calc(50% - 2px / 2);
						transform: rotate(-45deg);
					}
				}
			}
		}
		.mobile-menu {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 99;
			background-color: #495057;
			opacity: 1;
			animation: fadeIn 0.3s ease-in 0s forwards;
			padding: 20vh;
		}
		.header-list {
			display: flex;
			flex-direction: column;
			text-align: center;
		}

		.header-item {
			font-size: inherit;
			font-weight: inherit;
			margin: 0;
		}
	}
	@keyframes fadeIn {
		0% {
			display: none;
			opacity: 0;
		}

		100% {
			display: block;
			opacity: 1;
		}
	}
}
