/*ヘッダー*/
.header {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: map-get($map: $colors, $key: "bg-accent");

	.header-logo {
		font-weight: bold;
		font-size: 20px;
		color: #fff;
	}


	.header-list {
		display: flex;
		align-items: center;
		gap: 32px;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		list-style-position: initial;
		list-style-image: initial;
		list-style-type: none;
	}

	.header-item--contact {
		background-color: #388146;
		color: #fff;
		padding: 6px 16px;
		border-radius: 6px;
	}
}
