#information {
    padding: 80px 0 100px;
    color: #fff;
    text-align: center;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  }

  #information .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }

  #information h1 {
    display: inline-block;
    margin: 0 auto 40px;
    padding-bottom: 10px;
    font-size: 2.25rem;
    font-weight: 700;
    border-bottom: 4px solid #adadad;
  }

  #information article {
    margin-bottom: 40px;
    padding: 40px 40px 35px;
    text-align: left;
    border-radius: 5px;
    background-color: #2b2d31;
  }

  #information article .text_date {
    font-size: 0.85rem;
  }

  #information article h2 {
    margin-bottom: 30px;
    padding-bottom: 12px;
    font-size: 1.35rem;
    font-weight: bolder;
    line-height: 1.8em;
    border-bottom: 2px solid #adadad;
  }

  #information article .text_content {
    line-height: 1.9em;
    font-size: 0.85rem;
  }