<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:title" content="💻【パソコミ】💻パソコンコミュニティ" />
	<meta property="og:description" content="💻【パソコミ】💻パソコンコミュニティ" />
	<meta name="twitter:card" content="https://i.imgur.com/F0KY9uT.png" />
	<meta content="#3fc3ff" data-react-helmet="true" name="theme-color" />

	<title>{{ page.title }} | 💻【パソコミ】💻パソコンコミュニティ</title>
	<link rel="icon" href='{{"/assets/images/back.png"|relative_url}}' />
	<link rel="apple-touch-icon" href='{{"/assets/images/back.png"|relative_url}}' />

	<link rel="stylesheet" href='{{"/assets/css/style.css"|relative_url}}'>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	{% for file in page.scripts %}
	<script src='{{"/assets/js/" | append: file |relative_url}}'></script>
	{% endfor %}
	{%% if page.id == "home"}
	<style>
		body {
			background-image: url("{{'/assets/images/background.png'|relative_url}}");
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
	{% endif %}
</head>
<body>
	<header>
		<div class="header">
			<h1 class="header-logo"><a href='{{"/"|relative_url}}'><img src='{{"/assets/images/back.png"|relative_url}}' alt="アイコン" width="8%"></a></h1>
			<nav class="header-nav">
				<ul class="header-list">
					<li class="header-item"><a href='{{"/news"|relative_url}}'>お知らせ</a></li>
					<li class="header-item"><a href="">運営紹介</a></li>
					<li class="header-item"><a href="">その他</a></li>
					<li class="header-item header-item--contact"><a href="https://discord.gg/uxENZNrk5n">参加</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main class="{{ page.id }}">
	{{content}}
	</main>
</body>
</html>
